@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Логин</title>
</head>
<body>
    <form method="post">
                <p style="text-align: center;"><input name="email" size="30" type="email" placeholder="Введите email"/></p>

                <p style="text-align: center;"><input name="password" size="30" type="password" placeholder="Введите пароль"/></p>

                <p style="text-align: center;"><input name="confirm" type="submit" value="Войти" /></p>
    </form>
</body>
</html>
